= form_with model: @playdate, local: true do |form|
  = if @playdate.errors.any?
    #error_explanation
      %h2 
        = pluralize(@playdate.errors.count, "error")
        prohibited this PlayDate from being saved:
      %ul
        - @playdate.errors.full_messages.each do |msg|
          %li
            = msg

  %p
    = form.label :full_name
    %br
    = form.text_field :full_name
  
  %p
    = form.label :content 
    %br
    = form.text_area :content
  
  %p
    = form.submit
